<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="sty.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body>
    <!-- start nav  -->

    <nav>
        <section class="container">
            <section class="logo">
                <img src="https://img.icons8.com/plasticine/50/000000/facebook-new.png" />
            </section>
            <section class="search-box"></section>
            <section class="links">
                <ul>
                    <li><a href="#">Ahmed</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Create</a></li>
                </ul>
                <div class="clear-fix"></div>
            </section>
        </section>
    </nav>

    <!-- end nav  -->
    <!-- start header  -->
    <div class="container">
        <section class="header">
            <div class="rounded-profile">
            </div>
        </section>
        <div class="pages">
            <h3>Your Pages</h3>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/p1.jpg" alt="">
                </div>
                <p>ابداع</p>
                <div class="clear-fix"></div>
            </div>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/p22.png" alt="">
                </div>
                <p>Mkan1forbeginners</p>
                <div class="clear-fix"></div>
            </div>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/p3.jpg" alt="">
                </div>
                <p>IEEE Beni-Suef Student Branch</p>
                <div class="clear-fix"></div>
            </div>
            <h3>Contacts</h3>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/f1.jpg" alt="">
                </div>
                <p>Ahmed Ibrahim</p>
                <div class="clear-fix"></div>
            </div>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/f22.jpg" alt="">
                </div>
                <p>Bassam</p>
                <div class="clear-fix"></div>
            </div>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/f3.jpg" alt="">
                </div>
                <p>Mahmoud Maged</p>
                <div class="clear-fix"></div>
            </div>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/f4.jpg" alt="">
                </div>
                <p>Osama mahmoud</p>
                <div class="clear-fix"></div>
            </div>
            <div class="page">
                <div class="rounded-page">
                    <img src="img/f5.jpg" alt="">
                </div>
                <p>Abdallah Mamdouh</p>
                <div class="clear-fix"></div>
            </div>

        </div>
        <div class="clear-fix"></div>
    </div>

    <!-- end header  -->
    <!-- start intro -->
    <div class="container">
        <div class="cont">
            <div class="intro">
                <img class="info-image" src="https://img.icons8.com/wired/50/000000/information.png" />
                <h4>Intro</h4>
                <p class="bio">
                    واحد لساه بيحلم وبيصدق فى حلمه
                </p>
                <button class="btn-bio">Edit Bio</button>

                <div class="job1">
                    <div class="job-image">
                        <img src="https://img.icons8.com/plasticine/100/000000/new-job.png" />
                    </div>
                    <p>OGT Member at <a href="#">AIESEC</a></p>
                </div>
                <div class="job2">
                    <div class="job-image">
                        <img src="https://img.icons8.com/plasticine/100/000000/new-job.png" />
                    </div>
                    <p>Social media Member at <a href="#">Enactus New</a></p>
                </div>
                <div class="job3">
                    <div class="job-image">
                        <img src="https://img.icons8.com/plasticine/100/000000/new-job.png" />
                    </div>
                    <p>Social media Member at <a href="#">IEEE</a></p>
                </div>
                <div class="job4">
                    <div class="job-image">
                        <img src="https://img.icons8.com/fluent/48/000000/filled-like.png" />

                    </div>
                    <p>Single</p>
                </div>
                <button class="details">Edit Details</button>
                <div class="features"></div>
            </div>
            <div class="posts">
                <div class="post">
                    <div class="pro-circle"></div>
                    <p class="pro-name"><a href="#">Ahmed </a></p>
                    <div class="clear-fix"></div>
                    <div class="post-details">
                        <p>
                            new instagram profile design with <br>
                            HTML,CSS <br>
                    </div>
                    <div class="post-photo" style="background-image: url('img/post1.jpg');
                    background-size: cover;"></div>
                    <div class="likes">
                        <img class="first-react" src="https://img.icons8.com/ios/50/000000/facebook-like.png" />
                        <img class="second-react" src="https://img.icons8.com/flat_round/64/000000/filled-like.png" />
                    </div>
                    <div class="reactions">
                        <div class="react">
                            <img class="react-like"
                                 src="https://img.icons8.com/cotton/64/000000/facebook-like--v1.png" />
                            <p>Like</p>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="react">
                            <img class="react-like" src="https://img.icons8.com/doodle/48/000000/comments.png" />
                            <p>comment</p>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="react">
                            <img class="react-like" src="https://img.icons8.com/ultraviolet/40/000000/share.png" />
                            <p>Share</p>
                            <div class="clear-fix"></div>
                        </div>



                    </div>
                </div>
                <div class="post">
                    <div class="pro-circle"></div>
                    <p class="pro-name"><a href="#">Ahmed </a></p>
                    <div class="clear-fix"></div>
                    <div class="post-details">
                        <p>حاجة غريبة فعلا</p>
                    </div>
                    <div class="post-photo" style="background-image: url('img/post2.jpg');
                    background-size: cover;"></div>
                    <div class="likes">
                        <img class="first-react" src="https://img.icons8.com/ios/50/000000/facebook-like.png" />
                        <img class="second-react" src="https://img.icons8.com/flat_round/64/000000/filled-like.png" />
                        <img class="third-react" src="https://img.icons8.com/color/48/000000/smiling.png" />
                    </div>
                    <div class="reactions">
                        <div class="react">
                            <img class="react-like"
                                 src="https://img.icons8.com/cotton/64/000000/facebook-like--v1.png" />
                            <p>Like</p>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="react">
                            <img class="react-like" src="https://img.icons8.com/doodle/48/000000/comments.png" />
                            <p>comment</p>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="react">
                            <img class="react-like" src="https://img.icons8.com/ultraviolet/40/000000/share.png" />
                            <p>Share</p>
                            <div class="clear-fix"></div>
                        </div>



                    </div>
                </div>
                <div class="post">
                    <div class="pro-circle"></div>
                    <p class="pro-name"><a href="#">Ahmed </a></p>
                    <div class="clear-fix"></div>
                    <div class="post-details">
                        <p>الثلاثى المرح</p>
                    </div>
                    <div class="post-photo" style="background-image: url('img/post3.jpg');
                    background-size: cover;"></div>
                    <div class="likes">
                        <img class="first-react" src="https://img.icons8.com/ios/50/000000/facebook-like.png" />
                        <img class="second-react" src="https://img.icons8.com/flat_round/64/000000/filled-like.png" />
                        <img class="third-react" src="https://img.icons8.com/color/48/000000/smiling.png" />
                    </div>
                    <div class="reactions">
                        <div class="react">
                            <img class="react-like"
                                 src="https://img.icons8.com/cotton/64/000000/facebook-like--v1.png" />
                            <p>Like</p>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="react">
                            <img class="react-like" src="https://img.icons8.com/doodle/48/000000/comments.png" />
                            <p>comment</p>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="react">
                            <img class="react-like" src="https://img.icons8.com/ultraviolet/40/000000/share.png" />
                            <p>Share</p>
                            <div class="clear-fix"></div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>


    <!-- end intro -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>